*{
    margin: 0;
    padding:0 ;
}

body{
    width: auto;
    height: auto;
}
.nav-wrapper{   
    height: inherit;
    position: fixed;  
    left: 0;
    top: 0;
    z-index: 10;
    padding-top: 2rem;
}
.nav-wrapper a{
    margin: 0 15rem 0 2rem;
    font-size: 0.75rem;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding-bottom: 7px;
    position: relative;
}
a:hover::after{
    content: "";
    border-bottom: 1px solid #000000;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3px;
}
#main_bg{
 position: relative;
 height: 100%;
   
}
#main_paint{
    width: 100%;
}
h1{
    font-weight: 400;
    font-size: 64px;
    position: absolute;
    bottom: 90%;
    padding-left: 2rem;
    

}

#bottom_div{
    width: 100%;
    height: 75px;
    background-color: rgb(246, 247, 250);
    position: fixed;
    top: auto;
    bottom: 0;
    z-index: 100;
}

#side_menu{
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#proilfe_pic{
    width: 13rem;
    margin: 5rem;
}