*{
    margin: 0;
    padding:0 ;
}

body{
    width: auto;
    height: auto;
   
}

#home_conatiner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-wrapper{   
    height: inherit;
    position: fixed;  
    left: 0;
    top: 0;
    z-index: 10;
    padding-top: 2rem;
}
.nav-wrapper a{
    margin: 0 15rem 0 2rem;
    font-size: 0.75rem;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding-bottom: 7px;
    position: relative;
}
a:hover::after{
    content: "";
    border-bottom: 1px solid #000000;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3px;
}
#main_bg{
 position: relative;
 height: 100%;
   
}
#main_paint{
    width: 100%;
}
h1{
    font-weight: 400;
    font-size: 5.9vw;
    position: absolute;
    bottom: 90%;
    padding-left: 2rem;
    

}

#bottom_div{
    width: 100%;
    height: 75px;
    background-color: rgb(246, 247, 250);
    position: fixed;
    top: auto;
    bottom: 0;
    z-index: 100;
}
#bottom_div > a{
    position: relative; 
    top: 2rem;
}
#side_menu{
    width: 25%;
    height: 25%;
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
    position: fixed;
    top: 200px;
    z-index: 1000;
    margin-left: 2.5vw;
}

#proilfe_pic{
    width: 13rem;
    margin: 5rem;
}

.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img_container{
    margin-left: 15vw;
    margin-top: 5vw;
    margin-bottom: 75px;
}
.paintings{
    width: 20rem;
}

@media only screen and (max-width: 768px) {

    *{
        font-size: 5vw;
        
    }
    #main_paint{
        width: 100vw;
        position: relative;     
        bottom: -5rem;
       
    }

    #bottom_div{
        height: 40vh;
        position: fixed;
        top: auto;
        bottom: 0;
            
    }

    h1{
    font-weight: 400;
    font-size: 6.9vw;
    position: absolute;
    top: -2rem;
    padding-left: 2rem;
    

}
}