@font-face {
    font-family: Sentient;
    src: url(font/Sentient_Complete/Sentient_Complete/Fonts/OTF/Sentient-Bold.otf);
    
}
@font-face {
    font-family: Asap;
    src: url(font/asap-condensed/AsapCondensed-SemiBold.ttf);
    
}

*{
    margin: 0 ;
    padding:0 ;
}


#home_conatiner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-wrapper{   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95vw;
    position: fixed;  
    left: 0;
    top: 0;
    z-index: 10;
    padding-top: 2rem;
    
    
}
.nav-wrapper a{
    font-family: Asap;
    font-size: 1.354vw;
    margin: 0 2rem;
}
ul{
    list-style-type: none;
}
a,p{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding-bottom: 7px;
    position: relative;
}
a:hover::after{
    content: "";
    border-bottom: 1px solid #000000;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3px;
}
#side_menu ul li {
    margin: 1.5rem;

}
#main_bg{
 position: relative;
 /* height: 100%; */
 height: 50vw;
 width: 100vw;
 background-image: url(img/main-page-gb1.png);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover; 
   
}
#main_paint{
    width: 100%;
}
h1{
    /* font-weight: 400; */
    font-size: 5.17vw;
    position: absolute;
    bottom: 5%;
    padding-left: 2rem;
    font-family:Sentient;

}

#bottom_div{
    width: 100%;
    height: 75px;
    background-color: rgb(246, 247, 250);
    position: fixed;
    top: auto;
    bottom: 0;
    z-index: 100;
}
#bottom_div > a{
    position: relative; 
    top: 2rem;
}
#side_menu{
    width: 25%;
    height: 25%;
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
    position: fixed;
    top: 200px;
    z-index: 1000;
    margin-left: 2.5vw;
}

#proilfe_pic{
    width: 13rem;
    margin: 5rem;
}

.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img_container{
    margin-left: 15vw;
    margin-top: 5vw;
    margin-bottom: 75px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;

}
.column{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.img_container .paintings{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}


@media only screen and (max-width: 768px) {

    *{
        font-size: 5vw;
        
    }
    #main_bg{
        background-image: url(img/bika2.png);
        height: 100vw;
        margin-top: 3.5rem;
    }
    #main_paint{
        width: 100vw;
        position: relative;     
        top: 1rem;
       
    }
    .nav-wrapper a{
        font-size: 1rem;
    }
    #bottom_div{
        height: 40vh;
        position: fixed;
        top: auto;
        bottom: 0;
            
    }

    h1{
    font-weight: 400;
    font-size: 20vw;
    position: absolute;
    bottom: -10rem;
    padding-left: 2rem;
    

}
}